<!DOCTYPE html>
<html>
    <head>
        <title>help</title>
        <link rel="stylesheet", href="../css/styles.css">
    </head>
    <body>
        {{>header}}
        <h3>Name: {{name}}</h3>
        <h3>Email: {{Email}}</h3>
        {{>footer}}
    </body>
</html>